@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-black: #020202;
  --font-gray: #777;
  --font-gray-2: #AAA;
  --dark-grays-90: #676B74;
  --color-orange: #F0671E;
  --color-light-black: #1A1A1A;
}

body {
  color: var(--font-black);
  font-family: Geist;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.container-fluid {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1032px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (max-width:1440px) {
  .container {
    max-width: 708px;
  }
}

a {
  text-decoration: none;
  color: var(--font-black);
}

p {
  margin: 0;
}

p a {
  font-weight: 500;
  text-decoration-line: underline;
}

main {
  padding-top: 136px;
  padding-bottom: 120px;
}

header {
  padding-top: 32px;
  padding-bottom: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav-left-content {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-left-content__logo,
.nav-left-content__location {
  display: flex;
  flex-direction: column;
}

.nav-left-content__logo span,
.nav-left-content__location span {
  font-family: "JetBrains Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.logo-title {
  color: var(--font-black);
}

.logo-subtitle {
  color: var(--font-gray);
}

.nav-right-content {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-right-content a {
  color: var(--font-black);
  font-family: "JetBrains Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.72px;
}






/* Common CSS */
.title {
  color: var(--font-gray);
  font-family: "JetBrains Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.72px;
  margin-top: 0;
  margin-bottom: 8px;
}

.timeline {
  color: var(--font-gray-2);
}

.subhead {
  color: var(--font-black);
  font-feature-settings: 'liga' off;
  font-family: Geist;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.home-flex__content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.home-flex__content span:nth-child(2) {
  color: var(--font-gray-2);
}

.tab-links {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tab-links__flex {
  justify-content: space-between;
  gap: 14px;
}

.tab-links__content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.links-content-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.tab-links__box {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--font-black);
}

.olympus-box {
  border-radius: 242.424px;
  background-color: var(--dark-grays-90);
}

.ms-studio-box {
  background: var(--color-orange);
}

.flex-gap {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.tab-links__round {
  border-radius: 12.8px;
  background: #0D0D0D;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
}

.tab-links__round-play {
  width: 9.6px;
  height: 9.6px;
  border-radius: 0.8px;
  background: #FEFEFE;
  margin-left: 1px;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

footer {
  padding-top: 32px;
  padding-bottom: 32px;
}

footer .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}










/* Toggle */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 16px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #0D0D0D;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 2.2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #0D0D0D;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-handle {
  background-color: #222;
  transform: translateX(19.5px);
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background {
  background-color: #222;
  border-color: #3F3F3F;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch:before {
  content: "On";
  color: #3F3F3F;
  right: -15px;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background .toggle-switch-handle {
  background-color: #fff;
  transform: translateX(19.5px);
}



/* WORK PAGE */
.works-btn-flex {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}

.works-btn {
  color: var(--font-black);
  font-family: "JetBrains Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.work-grid {
  margin-top: 32px;
}

.work-card {
  padding: 40px;
  border: 1px solid #F1F1F1;
}

.work-card-container {
  height: 362px;
  background-color: var(--color-light-black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}

.work-card-content {
  color: #020202;
  font-family: "JetBrains Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 16px;
}

.work-card-content__data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}