@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-black: #020202;
  --font-gray: #777;
  --font-gray-2: #AAA;
  --dark-grays-90: #676B74;
  --color-orange: #F0671E;
  --color-light-black: #1A1A1A;
  --color-dark-black: #2f2f2f;
  --border-color: #F1F1F1;
  --color-white: #fff;
  --dark-gray: #2A2A2A;
  --header-bg: #FEFEFE;
  --body: #FEFEFE;
  --header-border: #E0E0E0;
  --table-header: #F1F1F1;
  --dark-black: #000;
}

.dark-mode {
  --font-black: #F1F1F1;
  --font-gray: #616161;
  --font-gray-2: #8A8A8A;
  --dark-grays-90: #676B74;
  --color-orange: #F0671E;
  --color-light-black: #1A1A1A;
  --color-dark-black: #F1F1F1;
  --border-color: #2F2F2F;
  --color-white: #0A0A0A;
  --dark-gray: #FFF;
  --header-bg: #0A0A0A;
  --body: #0A0A0A;
  --header-border: #2F2F2F;
  --table-header: #181818;
}

body {
  color: var(--font-black);
  font-family: Geist;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
  background-color: var(--body);
}

.container-fluid {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 100%;
}

@media screen and (max-width:768px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.container {
  width: 100%;
  max-width: 1064px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (max-width:1440px) {
  .container {
    max-width: 910px;
  }
}

a {
  text-decoration: none;
  color: var(--font-black);
}

p {
  margin: 0;
}

p a {
  font-weight: 500;
  text-decoration-line: underline;
}

main {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media screen and (max-width:768px) {
  main {
    padding-top: 160px;
    padding-bottom: 48px;
  }
}

header {
  padding-top: 32px;
  padding-bottom: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: var(--header-bg);
}

header.scrolled {
  border-bottom: 0.5px solid var(--header-border);
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;
}

.nav-left-content {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-left-content__logo,
.nav-left-content__location {
  display: flex;
  flex-direction: column;
}

.nav-left-content__logo span,
.nav-left-content__location span {
  font-family: "JetBrains Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.nav-left-content__location {
  text-align: end;
}

.logo-title {
  color: var(--font-black);
}

.logo-subtitle {
  color: var(--font-gray);
}

.nav-right-content {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-right-content__links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-right-content a {
  color: var(--font-black);
  font-family: "JetBrains Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.72px;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  background: transparent;
  text-align: center;
}

.nav-right-content__btn.active {
  background-color: var(--dark-gray);
  color: var(--color-white);
}

@media screen and (max-width:768px) {
  .navbar .container-fluid {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }

  .nav-left-content,
  .nav-right-content {
    width: 100%;
    justify-content: space-between;
  }
}




/* Common CSS */
.title {
  color: var(--font-gray);
  font-family: "JetBrains Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.72px;
  margin-top: 0;
  margin-bottom: 8px;
}

.timeline {
  color: var(--font-gray-2);
}

.subhead {
  color: var(--font-black);
  font-feature-settings: 'liga' off;
  font-family: Geist;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.home-flex__content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.home-flex__content span:nth-child(2) {
  color: var(--font-gray-2);
}

.tab-links {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tab-links__flex {
  justify-content: space-between;
  gap: 14px;
}

.tab-links__content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.links-content-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.tab-links__box {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--font-black);
}

.tab-links__box-container {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.olympus-box {
  border-radius: 242.424px;
  background-color: var(--dark-grays-90);
}

.ms-studio-box {
  background: var(--color-orange);
}

.flex-gap {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media screen and (max-width:768px) {
  .flex-gap {
    gap: 48px;
  }
}

.tab-links__round {
  border-radius: 12.8px;
  background: #0D0D0D;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
}

.tab-links__round-play {
  width: 9.6px;
  height: 9.6px;
  border-radius: 0.8px;
  background: #FEFEFE;
  margin-left: 1px;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

footer {
  padding-top: 32px;
  padding-bottom: 32px;
}

footer .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}










/* Toggle */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 16px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #0D0D0D;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 2.2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #0D0D0D;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-handle {
  background-color: #222;
  transform: translateX(19.5px);
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background {
  background-color: #222;
  border-color: #3F3F3F;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch:before {
  content: "On";
  color: #3F3F3F;
  right: -15px;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background .toggle-switch-handle {
  background-color: #fff;
  transform: translateX(19.5px);
}



/* WORK PAGE */
.works-btn-flex {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 16px;
}

@media screen and (max-width:768px) {
  .works-btn-flex {
    margin-top: 10px;
  }
}

.works-btn {
  color: var(--font-black);
  font-family: "JetBrains Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.work-grid {
  margin-top: 32px;
}

.work-card {
  padding: 40px;
  border: 1px solid var(--border-color);
}

.work-card-container {
  height: 362px;
  background-color: var(--dark-black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}

.work-card-container img {
  width: 100%;
  height: 100%;
  max-width: 360px;
  max-height: 298px;
  object-fit: scale-down;
}

.work-card-container iframe {
  height: 100%;
  width: 100%;
}

@media screen and (max-width:1440px) {
  .work-card-container {
    height: 303px;
  }

  .work-card-container img {
    max-width: 299px;
    max-height: 239px;
  }
}

@media screen and (max-width:768px) {
  .work-card-container img {
    max-width: 242px;
    max-height: 166px;
  }

  .work-card {
    padding: 32px;
  }

  .work-card-container {
    height: 246px;
  }
}

@media screen and (min-width: 1440px) {
  .work-minus-margin img {
  margin-bottom: -80px;
}

.work-play-minus img {
  margin-top: -60px;
}
}

@media screen and (max-width: 1440px) {
  .work-minus-margin img {
  margin-bottom: -64px;
}

.work-play-minus img {
  margin-top: -60px;
}
}

@media screen and (max-width: 768px) {
  .work-minus-margin img {
  margin-bottom: -80px;
}
.work-play-minus img {
  margin-top: -74px;
}
}





.work-card-content {
  color: var(--font-black);
  font-family: "JetBrains Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 16px;
}

.work-card-content__data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


/* Playground */
.playground-table {
  margin-top: 2px;
}

.playground-table table {
  width: 100%;
}

.playground-table table thead tr th { 
  background: var(--table-header);
  padding: 10px 12px;
  font-weight: 500;
  font-family: "JetBrains Mono";
  color: var(--color-dark-black);
}

.playground-table table thead tr th:nth-child(3) {
  text-align: end;
}
 
.playground-table table tbody tr td {
  padding: 10px 12px;
  border-bottom: 0.5px solid var(--border-color);
}

.playground-table table tbody tr td:nth-child(3) {
  text-align: end;
}

.table-tools {
  display: flex;
  align-items: center;
  gap: 4px;
}

.table-tools span {
  text-transform: capitalize;
}

.table-tools svg {
  width: 20px;
}

.table-tools-flex {
  display: flex;
  align-items: center;
  gap: 12px;
}

.work-card video {
  width: 100%;
  max-width: 424px;
  height: 362px;
  object-fit: cover;
}

@media screen and (max-width:1440px) {
  .work-card video {
  width: 100%;
  max-width: 424px;
  height: 303px;
  object-fit: cover;
}
}

@media screen and (max-width:768px) {
  .work-card video {
  width: 100%;
  max-width: 100%;
  height: 246px;
  object-fit: cover;
}
}

@media screen and (max-width:768px) {
  .table-tools span {
    display: none;
  }

  .playground-table table thead tr th:nth-child(2),
  .playground-table table thead tr td:nth-child(2) {
    width: 35%;
  }

  .playground-table table tbody tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 185px;
  }
}

.olympus_Finance path {
  margin-left: 12px;
}